<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>145611670360-9o7h5l6n38hbhogse7ketbh3njd03ca5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145611670360-9o7h5l6n38hbhogse7ketbh3njd03ca5</string>
	<key>API_KEY</key>
	<string>AIzaSyDab4381L_aEdHNotc9o_ZTmSF0agRioWI</string>
	<key>GCM_SENDER_ID</key>
	<string>145611670360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moviesearch</string>
	<key>PROJECT_ID</key>
	<string>moviesearch-1f41d</string>
	<key>STORAGE_BUCKET</key>
	<string>moviesearch-1f41d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145611670360:ios:2b7be4f361162731415b2d</string>
</dict>
</plist>